In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv('Advertising.csv',index_col=0)

In [3]:
df.head(10)

       TV  Radio  Newspaper  Sales
1   230.1   37.8       69.2   22.1
2    44.5   39.3       45.1   10.4
3    17.2   45.9       69.3    9.3
4   151.5   41.3       58.5   18.5
5   180.8   10.8       58.4   12.9
6     8.7   48.9       75.0    7.2
7    57.5   32.8       23.5   11.8
8   120.2   19.6       11.6   13.2
9     8.6    2.1        1.0    4.8
10  199.8    2.6       21.2   10.6

In [4]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 7.8 KB

In [6]:
df.shape

(200, 4)

In [7]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [8]:
X = df[['TV', 'Radio', 'Newspaper']]
y = df['Sales']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [11]:
y_train_pred = model.predict(X_train)

In [12]:
train_rmse = mean_squared_error(y_train, y_train_pred, squared=False)

In [13]:
train_r2 = r2_score(y_train, y_train_pred)

In [14]:
y_test_pred = model.predict(X_test)

In [15]:
test_rmse = mean_squared_error(y_test, y_test_pred, squared=False)

In [16]:
test_r2 = r2_score(y_test, y_test_pred)

In [17]:
print("Training set:")
print(f"RMSE: {train_rmse:.2f}")
print(f"R^2: {train_r2:.2f}")

Training set:
RMSE: 1.64
R^2: 0.90

In [18]:
print("\nTesting set:")
print(f"RMSE: {test_rmse:.2f}")
print(f"R^2: {test_r2:.2f}")

Testing set:
RMSE: 1.78
R^2: 0.90

In [19]:
new_data = pd.DataFrame({'TV': [100], 'Radio': [50], 'Newspaper': [25]}) #testing on custom data
predicted_sales = model.predict(new_data)
print(f"\nPredicted Sales: {predicted_sales[0]:.2f}")

Predicted Sales: 16.98